@{
	Layout = null;
	ViewData["Title"] = "Login";
	var boxNotice = new BoxModalViewModel()
			{
				Id = "register-failed-modal",
				Title = "Register Failed",
				Text = "Some field is not valid",
				Icon = "x-circle",
				IconColor = "text-danger"
			};

	var boxSuccess = new BoxModalViewModel()
	{
		Title = "Sign Up successfully",
		Text = "Welcome to the Conyzibi Hotel",
		
	};

}

<!DOCTYPE html>
<html lang="en" class="light">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<meta charset="utf-8">
	<link href="~/dist/images/logo.svg" rel="shortcut icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="admin">
	<meta name="keywords" content="admin">
	<meta name="author" content="HungNT">
	<title>Login</title>
	<!-- BEGIN: CSS Assets-->
	<link rel="stylesheet" href="~/dist/css/app.css" />
	<!-- END: CSS Assets-->

</head>
<!-- END: Head -->
<body class="login">
	@*@await Component.InvokeAsync("Loading")*@
	<div class="container sm:px-10 main-content">
		<div class="block xl:grid grid-cols-2 gap-4">
			<!-- BEGIN: Login Info -->
			<div class="hidden xl:flex flex-col min-h-screen">
				<a href="#" class="-intro-x flex items-center pt-5">
					<img alt="Midone - HTML Admin Template" class="w-6" src="~/dist/images/logo.svg">
					<span class="text-white text-lg ml-3"> ConyzibiHotel </span>
				</a>
				<div class="my-auto">
					<img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="~/dist/images/illustration.svg">
					<div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
						A few more clicks to
						<br>
						sign up to your account.
					</div>
					<div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Manage all your e-commerce accounts in one place</div>
				</div>
			</div>
			<!-- END: Login Info -->
			<!-- BEGIN: Register Form -->
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                            Sign Up
                        </h2>
                        <div class="intro-x mt-2 text-slate-400 dark:text-slate-400 xl:hidden text-center">A few more clicks to sign in to your account. Manage all your e-commerce accounts in one place</div>
                        <div class="intro-x mt-8 validate-form">
							<div class="input-form">
								<input id="firstName" type="text" class="intro-x login__input form-control py-3 px-4 block" placeholder="First Name">
							</div>
							<div class="input-form">
								<input id="lastName" type="text" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Last Name" required>
							</div>
							<div class="input-form">
								 <input id="email" type="email" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Email" required>
							</div>
							<div class="input-form">
								<input id="username" type="text" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Username" required minlength="6">
							</div>
							<div class="input-form">
								 <input id="password" type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Password" required minlength="8">
							</div>
                            <div class="intro-x w-full grid grid-cols-12 gap-4 h-1 mt-3">
                                <div class="col-span-3 h-full rounded bg-success"></div>
                                <div class="col-span-3 h-full rounded bg-success"></div>
                                <div class="col-span-3 h-full rounded bg-success"></div>
                                <div class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800"></div>
                            </div>
                            <a href="#" class="intro-x text-slate-500 block mt-2 text-xs sm:text-sm">What is a secure password?</a> 
                            <input id="retypePassword" type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Password Confirmation" disabled>
                        </div>
                        <div class="intro-x flex items-center text-slate-600 dark:text-slate-500 mt-4 text-xs sm:text-sm">
                            <input id="remember-me" type="checkbox" class="form-check-input border mr-2">
                            <label class="cursor-pointer select-none" for="remember-me">I agree to the Envato</label>
                            <a class="text-primary dark:text-slate-200 ml-1" href="#">Privacy Policy</a>. 
                        </div>
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top btn-register">Register</button>
                            <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top btn-signin">Sign in</button>
                        </div>
                    </div>
                </div>
                <!-- END: Register Form -->
		</div>
	</div>

	<!-- BEGIN: Failed Notification Content -->
	@await Component.InvokeAsync("FailedModal")
	<!-- END: Failed Notification Content -->

	<!-- BEGIN: Modal Notice Content -->
	@await Component.InvokeAsync("NoticeModal", boxNotice)
	<!-- END: Modal Notice Content -->

		<!-- BEGIN: Modal Content -->
	@await Component.InvokeAsync("WarningModal")
	<!-- END: Modal Content -->

	<!-- BEGIN: Modal Success Content -->
	@await Component.InvokeAsync("SuccessModal", boxSuccess)
	<!-- END: Modal Success Content -->

	<!-- BEGIN: JS Assets-->
	<script src="~/dist/js/app.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.9.0/toastify.min.js" integrity="sha512-41ixkHMR43jJQooROKfIXRKpWuPrssMtSfY2nAmM8/iraS+CaKjkVEerk4/T7hKBBtmjy/QSP7Hx21xvhN/hwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- END: JS Assets-->
	<script src="~/js/login/register.js" type="module"></script>
</body>

<!-- Mirrored from icewall-html.vercel.app/login-light-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Jun 2023 02:02:28 GMT -->
</html>