<!-- BEGIN: Failed Notification Content -->
<div id="failed-notification-content" class="toastify-content hidden flex">
	<i class="text-danger" data-lucide="x-circle"></i>
	<div class="ml-4 mr-4">
		<div class="font-medium failed-title">Added failed!</div>
		<div class="text-slate-500 mt-1 failed-text"> Please check the field </div>
	</div>
</div>
<!-- END: Failed Notification Content -->
