@{
    ViewData["Title"] = "Dashboard";
}

<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
        Room Category List
    </h2>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <button class="btn btn-primary shadow-md mr-2">Add New Category</button>
            <div class="dropdown">
                <button class="dropdown-toggle btn px-2 box" aria-expanded="false"
                    data-tw-toggle="dropdown">
                    <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4"
                            data-lucide="plus"></i> </span>
                </button>
                <div class="dropdown-menu w-40">
                    <ul class="dropdown-content">
                        <li>
                            <a href="#" class="dropdown-item"> <i data-lucide="printer"
                                    class="w-4 h-4 mr-2"></i> Print </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item"> <i data-lucide="file-text"
                                    class="w-4 h-4 mr-2"></i> Export to Excel </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item"> <i data-lucide="file-text"
                                    class="w-4 h-4 mr-2"></i> Export to PDF </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hidden md:block mx-auto text-slate-500">Showing 1 to 10 of 150 entries</div>
            <div class="w-full xl:w-auto flex items-center mt-3 xl:mt-0">
                <div class="w-56 relative text-slate-500">
                    <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </div>
                <select class="w-56 xl:w-auto form-select box ml-2">
                    <option>Filter by</option>
                    <option>Name</option>
                    <option>Status</option>
                    <option>Id</option>
                </select>
                <select class="w-56 xl:w-auto form-select box ml-2">
                    <option>Sort by</option>
                    <option>Status</option>
                    <option>Name</option>
                    <option>Id</option>
                </select>
            </div>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">ID</th>
                        <th class="whitespace-nowrap">CATEGORY NAME</th>
                        <th class="text-center whitespace-nowrap">IMAGES</th>
                        <th class="text-center whitespace-nowrap">AREA</th>
                        <th class="text-center whitespace-nowrap">HIGHT</th>
                        <th class="text-center whitespace-nowrap">BED SIZE</th>
                        <th class="text-center whitespace-nowrap">RATE</th>
                        <th class="text-center whitespace-nowrap">STATUS</th>
                        <th class="text-center whitespace-nowrap">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="intro-x">
                        <td class="w-10">RC01</td>
                        <td>
                            <a href="#" class="font-medium whitespace-nowrap">Double Room</a>
                        </td>
                        <td class="w-40">
                            <div class="flex justify-center">
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img alt="Midone - HTML Admin Template" class="tooltip rounded-full"
                                        src="dist/images/preview-6.jpg" title="Uploaded at 13 January 2022">
                                </div>
                                <div class="w-10 h-10 image-fit zoom-in -ml-5">
                                    <img alt="Midone - HTML Admin Template" class="tooltip rounded-full"
                                        src="dist/images/preview-10.jpg"
                                        title="Uploaded at 13 January 2022">
                                </div>
                                <div class="w-10 h-10 image-fit zoom-in -ml-5">
                                    <img alt="Midone - HTML Admin Template" class="tooltip rounded-full"
                                        src="dist/images/preview-9.jpg" title="Uploaded at 13 January 2022">
                                </div>
                            </div>
                        </td>
                        <td class="text-center">15m2</td>
                        <td class="text-center">3m</td>
                        <td class="text-center">2 x 3 m</td>
                        <td class="text-center">4.5</td>
                        <td class="w-40">
                            <div class="flex items-center justify-center text-success"> <i
                                    data-lucide="check-square" class="w-4 h-4 mr-2"></i> Active </div>
                        </td>
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" href="javascript:;"> <i
                                        data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                <a class="flex items-center text-danger mr-3" href="javascript:;"
                                    data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal"> <i
                                        data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                <a class="flex items-center text-primary" href="javascript:;"
                                    data-tw-toggle="modal" data-tw-target="#header-footer-modal-preview"> <i
                                        data-lucide="eye" class="w-4 h-4 mr-1"></i> Details </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="intro-x">
                        <td class="w-10">RC02</td>
                        <td>
                            <a href="#" class="font-medium whitespace-nowrap">Triple Room</a>
                        </td>
                        <td class="w-40">
                            <div class="flex justify-center">
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img alt="Midone - HTML Admin Template" class="tooltip rounded-full"
                                        src="dist/images/preview-6.jpg" title="Uploaded at 13 January 2022">
                                </div>
                                <div class="w-10 h-10 image-fit zoom-in -ml-5">
                                    <img alt="Midone - HTML Admin Template" class="tooltip rounded-full"
                                        src="dist/images/preview-10.jpg"
                                        title="Uploaded at 13 January 2022">
                                </div>
                                <div class="w-10 h-10 image-fit zoom-in -ml-5">
                                    <img alt="Midone - HTML Admin Template" class="tooltip rounded-full"
                                        src="dist/images/preview-9.jpg" title="Uploaded at 13 January 2022">
                                </div>
                            </div>
                        </td>
                        <td class="text-center">15m2</td>
                        <td class="text-center">3m</td>
                        <td class="text-center">2 x 3 m</td>
                        <td class="text-center">4.5</td>
                        <td class="w-40">
                            <div class="flex items-center justify-center text-danger"> <i
                                    data-lucide="check-square" class="w-4 h-4 mr-2"></i> Inactive </div>
                        </td>
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" href="javascript:;"> <i
                                        data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                <a class="flex items-center text-danger mr-3" href="javascript:;"
                                    data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal"> <i
                                        data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                <a class="flex items-center text-primary" href="javascript:;"
                                    data-tw-toggle="modal" data-tw-target="#header-footer-modal-preview"> <i
                                        data-lucide="eye" class="w-4 h-4 mr-1"></i> Details </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <nav class="w-full sm:w-auto sm:mr-auto">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                    <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                    <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                    <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                    <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                    <li class="page-item">
                        <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <select class="w-20 form-select box mt-3 sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
        <!-- END: Pagination -->
    </div>
    <!-- BEGIN: Delete Confirmation Modal -->
    <div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="p-5 text-center">
                        <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">
                            Do you really want to delete these records?
                            <br>
                            This process cannot be undone.
                        </div>
                    </div>
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-tw-dismiss="modal"
                            class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                        <button type="button" class="btn btn-danger w-24">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->

    <!-- BEGIN: Modal Details Content -->
    <div id="header-footer-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content"> 
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">Details</h2> <button
                        class="btn btn-outline-secondary hidden sm:flex"> <i data-lucide="file"
                            class="w-4 h-4 mr-2"></i> Download Information </button>
                    <div class="dropdown sm:hidden"> <a class="dropdown-toggle w-5 h-5 block"
                            href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown"> <i
                                data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i> </a>
                        <div class="dropdown-menu w-40">
                            <ul class="dropdown-content">
                                <li> <a href="javascript:;" class="dropdown-item"> <i data-lucide="file"
                                            class="w-4 h-4 mr-2"></i> Download Information </a> </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <!-- END: Modal Header -->

                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-2 gap-y-3">
                    <div class="mx-6 col-span-12 sm:col-span-12">
                        <div class="multiple-items">
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        1</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        2</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        3</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        4</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        5</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        6</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        7</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        8</h3>
                                </div>
                            </div>
                            <div class="h-32 px-2">
                                <div class="h-full bg-slate-100 dark:bg-darkmode-400 rounded-md">
                                    <h3
                                        class="h-full font-medium flex items-center justify-center text-2xl">
                                        9</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-2 sm:col-span-2">
                        <label for="modal-form-1" class="form-label">ID</label>
                        <input id="modal-form-1" type="text" class="form-control" value="RC01" disabled>
                    </div>
                    <div class="col-span-8 sm:col-span-10">
                        <label for="modal-form-2" class="form-label">Name</label>
                        <input id="modal-form-2" type="text" class="form-control" value="Double Room"
                            disabled>
                    </div>
                    <div class="col-span-2 sm:col-span-2">
                        <label for="modal-form-2" class="form-label">Status</label>
                        <input id="modal-form-2" type="text" class="form-control" value="Active" disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-2">
                        <label for="modal-form-3" class="form-label">Area</label>
                        <input id="modal-form-3" type="text" class="form-control" value="15m2" disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-2">
                        <label for="modal-form-4" class="form-label">Hight</label>
                        <input id="modal-form-4" type="text" class="form-control" value="3m" disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-2">
                        <label for="modal-form-5" class="form-label">Bed size</label>
                        <input id="modal-form-5" type="text" class="form-control" value="2 x 3 m" disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-2">
                        <label for="modal-form-6" class="form-label">Rate</label>
                        <input id="modal-form-6" type="text" class="form-control" value="4.5" disabled>
                    </div>
                    <div class="col-span-12 sm:col-span-12">
                        <label for="modal-form-7" class="form-label">Description</label>
                        <textarea id="modal-form-7" class="form-control" rows="3" disabled>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis error fugiat laboriosam nostrum rerum, laborum porro beatae maxime doloremque officiis repellat nisi voluptas? Cumque fugit doloribus suscipit enim molestiae blanditiis.
                        </textarea>
                    </div>
                    <div class="col-span-3 sm:col-span-6">
                        <label for="modal-form-20" class="form-label">Created At</label>
                        <input id="modal-form-20" type="text" class="form-control" value="30-04-2023"
                            disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-6">
                        <label for="modal-form-21" class="form-label">Created By</label>
                        <input id="modal-form-21" type="text" class="form-control" value="Hung NT" disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-6">
                        <label for="modal-form-22" class="form-label">Updated At</label>
                        <input id="modal-form-22" type="text" class="form-control" value="01-05-2023"
                            disabled>
                    </div>
                    <div class="col-span-3 sm:col-span-6">
                        <label for="modal-form-23" class="form-label">Updated By</label>
                        <input id="modal-form-23" type="text" class="form-control" value="LLT" disabled>
                    </div>
                </div> 
                <!-- END: Modal Body --> 

                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer"> <button type="button" data-tw-dismiss="modal"
                        class="btn btn-outline-secondary w-20 mr-1">Close</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </div>
    </div>
    <!-- END: Modal Details Content -->
</div>
