<div class="content cantSearch text-center" style="display:none;">
	<div class="" style="width:30%;margin:auto;margin-top:5rem;;" >
		<img src="~/images/no-result.png" class="w-100 h-100" style="object-fit:contain">
	</div>
	<div>
		<div style="margin:1rem 0;font-size:1.2rem; color:rgb(30, 58, 138);">Can not find you key words ...</div>
		<button class="btn btn-primary btn-goBack">Go back</button>
	</div>
</div>
