@{
	ViewData["Title"] = "FoodOrder List";

	var boxNotice = new BoxModalViewModel()
			{
				Id = "notice-notification-content",
				Title = "Record moved to trash!",
				Text = "Remove the item successfully",
				Icon = "trash-2",
				IconColor = "text-success"
			};
	var boxPrintSucceess = new BoxModalViewModel()
	{
		Id = "print-success-modal",
		Title = "Export bill successfully!",
		Text = "The bill was exported as pdf file",
		Icon = "check-circle",
		IconColor = "text-success"
	};

	var boxConfirmSucceess = new BoxModalViewModel()
	{
		Id = "confirm-success-modal",
		Title = "Confirm successfully!",
		Text = "The message was sent to custommer",
		Icon = "check-circle",
		IconColor = "text-success"
	};
}
<style>
	#note {
		--tw-bg-opacity: 1;
		background-color: rgb(var(--color-slate-100) / var(--tw-bg-opacity));
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		/* background-color: #fff; */
		/* border-color: #6b7280; */
		border-width: 1px;
		/* border-radius: 0px; */
		padding-top: 0.5rem;
		padding-right: 0.75rem;
		padding-bottom: 0.5rem;
		padding-left: 0.75rem;
		font-size: 1rem;
		line-height: 1.5rem;
		--tw-shadow: 0 0 #0000;
		min-height: 3rem;
	}

	::selection {background: #f31544; color: #FFF;}
	::moz-selection {background: #f31544; color: #FFF;}
	#invoiceholder h1{
	  font-size: 1.5em;
	  color: #222;
	  margin-top:0;
	  padding-top:0;
	  border:none;
	}
	#invoiceholder h2{
		font-size: .9em;
		margin-top:0;
	  padding-top:0;
	  border:none;
	}
	#invoiceholder h3{
	  font-size: 1.2em;
	  font-weight: 300;
	  line-height: 2em;
	  border:none;
	}
	#invoiceholder p{
	  font-size: .7em;
	  color: #666;
	  border:none;
	  line-height: 1.2em;
	  margin-top:0;
	  padding-top:0;
	}

	#invoiceholder{
	  width:100%;
	  height: 100%;
	}
	#headerimage{
	  z-index:-1;
	  position:relative;
	  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
		-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
		box-shadow:inset 0 2px 4px rgba(0,0,0,.15), inset 0 -2px 4px rgba(0,0,0,.15);
	  overflow:hidden;
	}
	#invoice{
	  position: relative;
	  margin: 0 auto;

	  background: #FFF;
	}

	[id*='invoice-']{ /* Targets all id with 'col-' */
	  border-bottom: 1px solid #EEE;
	  padding: 30px;
	}

	#invoice-top{min-height: 120px;}
	#invoice-mid{min-height: 120px;}
	#invoice-bot{ min-height: 250px;}

	#invoiceholder .info{
	  display: block;
	  float:left;
	  margin-left: 20px;
	  border:none;
	}
	#invoiceholder .title{
	  float: right;
	  border:none;
	}
	#invoiceholder .title p{text-align: right;border:none;}
	#invoiceholder #project{margin-left: 52%;border:none;}
	#invoiceholder table{
	  width: 100%;
	  border-collapse: collapse;
	}
	#invoiceholder td{
	  padding: 5px 0 5px 15px;
	  border: 1px solid #EEE
	}
	#invoiceholder .tabletitle{
	  padding: 5px;
	  background: #EEE;
	}
	#invoiceholder .service{border: 1px solid #EEE;}
	#invoiceholder .item{width: 50%;}
	#invoiceholder .itemtext{font-size: .9em;}

	#invoiceholder #legalcopy{
	  margin-top: 30px;
	}

	#invoiceholder .effect2
	{
	  position: relative;
	}
	#invoiceholder .effect2:before, .effect2:after
	{
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 15px;
	  left: 10px;
	  width: 50%;
	  top: 80%;
	  max-width:300px;
	  background: #777;
	  -webkit-box-shadow: 0 15px 10px #777;
	  -moz-box-shadow: 0 15px 10px #777;
	  box-shadow: 0 15px 10px #777;
	  -webkit-transform: rotate(-3deg);
	  -moz-transform: rotate(-3deg);
	  -o-transform: rotate(-3deg);
	  -ms-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}
	#invoiceholder .effect2:after
	{
	  -webkit-transform: rotate(3deg);
	  -moz-transform: rotate(3deg);
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);
	  right: 10px;
	  left: auto;
	}



	#invoiceholder .legal{
	  width:70%;
	}
</style>

@await Component.InvokeAsync("Loading")
@await Component.InvokeAsync("CanNotSearch")
<div class="content main-content" style="display:none;">
	<h2 class="intro-y text-lg font-medium mt-10">
		FoodOrder List
	</h2>
	<div class="grid grid-cols-12 gap-6 mt-5">
		<div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
			<button class="btn btn-primary shadow-md mr-2" onclick="window.location.href = '/Admin/Menu/FoodOrder/AddNew'">Add New FoodOrder</button>
			<div class="dropdown">
				<button class="dropdown-toggle btn px-2 box" aria-expanded="false"
						data-tw-toggle="dropdown">
					<span class="w-5 h-5 flex items-center justify-center">
						<i class="w-4 h-4"
						   data-lucide="plus"></i>
					</span>
				</button>
				<div class="dropdown-menu w-40">
					<ul class="dropdown-content">
						<li>
							<a href="#" class="dropdown-item">
								<i data-lucide="printer"
								   class="w-4 h-4 mr-2"></i> Print
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-item">
								<i data-lucide="file-text"
								   class="w-4 h-4 mr-2"></i> Export to Excel
							</a>
						</li>
						<li>
							<a href="#" class="dropdown-item">
								<i data-lucide="file-text"
								   class="w-4 h-4 mr-2"></i> Export to PDF
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="showing-page-title hidden md:block mx-auto text-slate-500">Showing 1 to 10 of 150 entries</div>
			<div class="w-full xl:w-auto flex items-center mt-3 xl:mt-0">
				<div class="w-56 relative text-slate-500">
					<input type="text" class="form-control w-56 box pr-10 search-box-table" placeholder="Search...">
					<i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0 search-btn" data-lucide="search"></i>
				</div>
				<select class="filter-select w-56 xl:w-auto form-select box ml-2">
					<option value="name" disabled selected class="default">Filter by</option>
					<option value="name">All</option>
					<option value="isActive">Status</option>
					<option value="fullName">Name</option>
					<option value="id">Id</option>
					<option value="checkInCode">CheckInCode</option>
				</select>
				<select class="sortby-select w-56 xl:w-auto form-select box ml-2">
					<option disabled selected class="default">Sort by</option>
					<option value="isActive">Status</option>
					<option value="fullName">Name</option>
					<option value="id">Id</option>
					<option value="checkInCode">CheckInCode</option>
				</select>
			</div>
		</div>
		<!-- BEGIN: Data List -->
		<div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
			<table class="table table-report -mt-2">
				<thead>
					<tr>
						<th class="whitespace-nowrap">ID</th>
						<th class="whitespace-nowrap">ORDER CUSTOMMER</th>
						<th class="text-center whitespace-nowrap">PHONE NUMBER</th>
						<th class="text-center whitespace-nowrap">PLACE</th>
						<th class="text-center whitespace-nowrap">EATING TIME</th>
						<th class="text-center whitespace-nowrap">ACTIONS</th>
						<th class="text-center whitespace-nowrap">CONFIRM</th>
					</tr>
				</thead>
				<tbody>
					<!-- END: Data API -->
				</tbody>
			</table>
		</div>
		<!-- END: Data List -->
		<!-- BEGIN: Pagination -->
		<div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
			<nav class="w-full sm:w-auto sm:mr-auto">
				<ul class="pagination">
					<li class="page-item prev-page">
						<a class="page-link">
							<i class="w-4 h-4" data-lucide="chevron-left"></i>
						</a>
					</li>
					<li class="page-item more-page-before" style="display:none;"> <a class="page-link">...</a> </li>
					<li class="page-item more-page-after" style="display:none;"> <a class="page-link">...</a> </li>
					<li class="page-item next-page">
						<a class="page-link">
							<i class="w-4 h-4" data-lucide="chevron-right"></i>
						</a>
					</li>
				</ul>
			</nav>
			<select class="pageSize-select w-20 form-select box mt-3 sm:mt-0">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="35">35</option>
				<option value="50">50</option>
				<option value="1">1</option>
			</select>
		</div>
		<!-- END: Pagination -->
	</div>
	<!-- BEGIN: Delete Confirmation Modal -->
	<div id="delete-confirmation-modal" class="modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body p-0">
					<div class="p-5 text-center">
						<i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
						<div class="text-3xl mt-5">Are you sure?</div>
						<div class="text-slate-500 mt-2">
							Do you really want to delete these records?
							<br>
							This process cannot be undone.
						</div>
					</div>
					<div class="px-5 pb-8 text-center">
						<button type="button" data-tw-dismiss="modal"
								class="btn btn-outline-secondary w-24 mr-1">
							Cancel
						</button>
						<button type="button" class="btn btn-danger w-24 btn-remove">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: Delete Confirmation Modal -->
	<!-- BEGIN: Modal Details Content -->
	<div id="modal-details" class="modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- BEGIN: Modal Header -->
				<div class="modal-header">
					<h2 class="font-medium text-base mr-auto">Details</h2> <button class="btn btn-outline-secondary hidden sm:flex">
						<i data-lucide="file"
						   class="w-4 h-4 mr-2"></i> Download Information
					</button>
					<div class="dropdown sm:hidden">
						<a class="dropdown-toggle w-5 h-5 block"
						   href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown">
							<i data-lucide="more-horizontal" class="w-5 h-5 text-slate-500"></i>
						</a>
						<div class="dropdown-menu w-40">
							<ul class="dropdown-content">
								<li>
									<a href="javascript:;" class="dropdown-item">
										<i data-lucide="file"
										   class="w-4 h-4 mr-2"></i> Download Information
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END: Modal Header -->
				<!-- BEGIN: Modal Body -->
				<div class="modal-body grid grid-cols-12 gap-2 gap-y-3">
					<div class="col-span-2 sm:col-span-2">
						<label for="id" class="form-label">ID</label>
						<input id="id" type="text" class="form-control" disabled>
					</div>
					<div class="col-span-8 sm:col-span-8">
						<label for="name" class="form-label">Ordered By</label>
						<input id="name" type="text" class="form-control"
							   disabled>
					</div>
					<div class="col-span-2 sm:col-span-2">
						<label for="status" class="form-label">Status</label>
						<input id="status" type="text" class="form-control" disabled>
					</div>
					<div class="col-span-12 sm:col-span-12">
						<label for="checkInCode" class="form-label">CheckInCode</label>
						<input id="checkInCode" type="text" class="form-control" disabled>
					</div>
					<div class="col-span-6 sm:col-span-6">
						<label for="phoneNumber" class="form-label">Phone Number</label>
						<input id="phoneNumber" type="text" class="form-control" disabled>
					</div>
					<div class="col-span-6 sm:col-span-6">
						<label for="eatingAt" class="form-label">Eating at</label>
						<input id="eatingAt" type="text" class="form-control" disabled>
					</div>
					<div class="col-span-12 sm:col-span-12">
						<label for="place" class="form-label">Place</label>
						<input id="place" type="text" class="form-control" disabled>
					</div>
					<div class="col-span-12 sm:col-span-12">
						<label for="note" class="form-label">Note</label>
						<div id="note" class="form-control" rows="3" disabled>
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis error fugiat laboriosam nostrum rerum, laborum porro beatae maxime doloremque officiis repellat nisi voluptas? Cumque fugit doloribus suscipit enim molestiae blanditiis.
						</div>
					</div>
					<div class="col-span-12 sm:col-span-12">
						<div class="grid grid-cols-12 gap-2">
							<div class="col-span-6 sm:col-span-6">
								<label class="form-label">Food Name</label>
							</div>
							<div class="col-span-3 sm:col-span-3">
								<label class="form-label">Price</label>
							</div>
							<div class="col-span-3 sm:col-span-3">
								<label class="form-label">Number</label>
							</div>
							<div class="col-span-12 sm:col-span-12 gap-2 foodList grid grid-cols-12">
								<div class="col-span-6 sm:col-span-6">
									<input type="text" class="form-control" disabled>
								</div>
								<div class="col-span-3 sm:col-span-3">
									<input type="text" class="form-control" disabled>
								</div>
								<div class="col-span-3 sm:col-span-3">
									<input type="text" class="form-control" disabled>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- END: Modal Body -->
				<!-- BEGIN: Modal Footer -->
				<div class="modal-footer">
					<button type="button" data-tw-dismiss="modal"
							class="btn btn-outline-secondary w-20 mr-1 btn-close">
						Close
					</button>
				</div>
				<!-- END: Modal Footer -->
			</div>
		</div>
	</div>

	<div id="modal-print" class="modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-body p-0">
					<div id="invoiceholder">
						<div id="headerimage">
						</div>
						<div id="invoice" class="effect2">
							<div id="invoice-top">
								<div class="logo" style="float: left;height: 60px;width: 60px;overflow:hidden;border-radius: 50px;">
									<img alt="img" src="~/images/layout-logo.png"/>
								</div>
								<div class="info">
									<h2>Conizibi Hotel</h2>
									<p>
										thanh.hung.st302@gmail.com </br>
										0946928815
									</p>
								</div><!--End Info-->
								<div class="title invoiceInfor">
									<h1>Invoice #1069</h1>
									<p>
										Issued: May 27, 2015</br>
										Payment Due: June 27, 2015
									</p>
								</div><!--End Title-->
							</div><!--End InvoiceTop-->
							<div id="invoice-mid">
								<div class="clientlogo" style="float: left;height: 60px;width: 60px;overflow:hidden;border-radius: 50px;">
									<img alt="img" src="~/images/client.jpg"/>
								</div>
								<div class="info">
									<h2 class="clientName"></h2>
									<p class="clientContact">
										
									</p>
								</div>

								<div id="project">
									<h2>Order Description</h2>
									<p>	
										Please eating food and order inside the hotel
									</p>
								</div>

							</div><!--End Invoice Mid-->

							<div id="invoice-bot">

								<div id="table">
									<table>
										<tr class="tabletitle headTitle">
											<td class="item"><h2>Food Name</h2></td>
											<td class="Hours"><h2 >Number</h2></td>
											<td class="Rate"><h2 >Price /food</h2></td>
											<td class="subtotal"><h2>Sub-total</h2></td>
										</tr>

										<tr class="service">
											<td class="tableitem"><p class="itemtext">Communication</p></td>
											<td class="tableitem"><p class="itemtext">5</p></td>
											<td class="tableitem"><p class="itemtext">$75</p></td>
											<td class="tableitem"><p class="itemtext">$375.00</p></td>
										</tr>

									</table>
								</div><!--End Table-->

								<div id="legalcopy" style="border:none;">
									<p class="legal" style="border:none;">
										<strong style="border:none;">Thank you for your ordering!</strong>  Payment is expected in this day only; please process this invoice within that time. If the meal has any problem please give us the feedback
									</p>
								</div>

							</div><!--End InvoiceBot-->
						</div><!--End Invoice-->
					</div><!-- End Invoice Holder-->
					<div class="px-5 pb-8 text-center mt-5">
						<button type="button" data-tw-dismiss="modal"
								class="btn btn-outline-success btn-confirm-sure w-80 mr-1">
							Confirm and export bill
						</button>
						<button type="button" data-tw-dismiss="modal"
								class="btn btn-outline-secondary w-20 mr-1">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal-confirm" class="modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body p-0">
					<div class="p-5 text-center">
						<div class="text-3xl mt-5 flex" style="justify-content:center;align-items:center">
							<i data-lucide="message-square" class="w-10 h-10 text-success mr-2"></i>
							<span>Confirm order</span>
						</div>
						<div class="text-slate-500 mt-2">Leave a message to confirm with the custommer</div>
					</div>
					<div class="px-5 pb-8 grid grid-cols-12 gap-2 gap-y-3">
						<div class="col-span-12 sm:col-span-12">
							<label for="nameConfirm" class="form-label">Full Name</label>
							<input id="nameConfirm" type="text" class="form-control"
								   disabled>
						</div>
						<div class="col-span-12 sm:col-span-12">
							<label for="phoneNumberConfirm" class="form-label">Phone Number</label>
							<input id="phoneNumberConfirm" type="text" class="form-control" disabled>
						</div>
						<div class="col-span-12 sm:col-span-12">
							<label for="contentMessage" class="form-label">Content</label>
							<textarea id="contentMessage" class="form-control" cols="3"></textarea>
						</div>
					</div>
					<div class="px-5 pb-8 text-center">
						<button type="button" data-tw-dismiss="modal"
								class="btn btn-outline-success btn-sendSMS w-80 mr-1">
							Confirm send SMS
						</button>
						<button type="button" data-tw-dismiss="modal"
								class="btn btn-outline-secondary w-20 mr-1">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: Modal Details Content -->
	<!-- BEGIN: Modal Notice Content -->
	@await Component.InvokeAsync("NoticeModal", boxNotice)
	@await Component.InvokeAsync("NoticeModal", boxPrintSucceess)
	@await Component.InvokeAsync("NoticeModal", boxConfirmSucceess)
	<!-- END: Modal Notice Content -->
	<!-- BEGIN: Modal Content -->
	@await Component.InvokeAsync("WarningModal")
	<!-- END: Modal Content -->
</div>

@section Scripts{
<script>
	$('.side-MENU').addClass("side-menu--active");
	$('.side-foodOrder').addClass("side-menu--active");
	$('.side-foodOrder-list').addClass("side-menu--active");
	$('.side-MENU-wrapper').addClass("side-menu__sub-open");
	$('.side-foodOrder-wrapper').addClass("side-menu__sub-open");
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://unpkg.com/html2canvas@1.0.0-rc.1/dist/html2canvas.js"></script>
<script src="~/js/foodOrder/foodOrder-index.js" type="module"></script>
}